.git
.github
.env
vendor
node_modules
bootstrap/cache/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.phpunit.result.cache
npm-debug.log
yarn-error.log
Docker/
.idea
.vscode
*.bak
*.tmp
